@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

toolbar[mode="full"] .toolbarbutton-1:not([type=menu-button]) {
  -moz-box-orient: vertical;
}

#navigator-toolbox[tabsontop="true"] > #nav-bar {
  padding-top: 2px;
}

#nav-bar .toolbarbutton-1 {
  margin: 0px;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

/* Padding of icons used which are not default FF4 theme icons is needed to make them the same size (18x18) as the default FF4 theme glyphs used, in small
   icons mode.  In large icons mode, we actually add padding to the FF4-default glyphs instead (below) to make them the same size as our larger icons. */
#navigator-toolbox[iconsize="small"] > #nav-bar .toolbarbutton-1:not(:-moz-any(#tabview-button)) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#navigator-toolbox[iconsize="small"] > #nav-bar .toolbarbutton-1:not(:-moz-any(#tabview-button)) > .toolbarbutton-icon {
  margin: 1px;
}

/* Don't pad back/forward buttons using margin when they're in icons display mode; they should touch each other. */
#nav-bar[mode="icons"] #unified-back-forward-button > #back-button > .toolbarbutton-icon,
#nav-bar[mode="icons"] #unified-back-forward-button > #forward-button > .toolbarbutton-icon {
  margin: 0px;
}

#tab-view-deck #unified-back-forward-button {
  -moz-binding: url(chrome://global/skin/globalBindings.xml#restore-back-forward-dropmarker);
}

#tab-view-deck #unified-back-forward-button dropmarker {
  display: none !important;
}

toolbar[mode="full"] .toolbarbutton-1,
toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 57px;
}

.toolbarbutton-1,
.toolbarbutton-menubutton-button {
  padding: 5px;
}

/* ::::: 24px primary toolbar buttons ::::: */

.toolbarbutton-1 {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

/* Unified large back/forward buttons, 'keyhole' style, for icons mode... */

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  -moz-transform: scaleX(-1);
}

toolbar[mode="icons"] #back-button {
  -moz-appearance: none;
  padding: 0;
  -moz-padding-start: 4px;
  border: none;
}

toolbar[iconsize="large"][mode="icons"] #back-button {
  -moz-image-region: rect(0px 396px 34px 360px);
}
toolbar[iconsize="large"][mode="icons"] #back-button:hover {
  -moz-image-region: rect(34px 396px 68px 360px);
}
toolbar[iconsize="large"][mode="icons"] #back-button[disabled="true"] {
  -moz-image-region: rect(68px 396px 102px 360px);
}
toolbar[iconsize="large"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(102px 396px 136px 360px);
}

toolbar[mode="icons"] #forward-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
  -moz-padding-end: 4px;
}

toolbar[iconsize="large"][mode="icons"] #forward-button {
  -moz-image-region: rect(2px, 424px, 33px, 396px);
}
toolbar[iconsize="large"][mode="icons"] #forward-button:hover {
  -moz-image-region: rect(36px, 424px, 67px, 396px);
}
toolbar[iconsize="large"][mode="icons"] #forward-button[disabled="true"] {
  -moz-image-region: rect(70px, 424px, 101px, 396px);
}
toolbar[iconsize="large"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(104px, 424px, 135px, 396px);
}

/* Back/forward dropmarker */

#back-forward-dropmarker {
  -moz-appearance: none;
  border: none;
  height: 27px;
  padding: 0px;
  margin-left: -4px;
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(2px, 438px, 33px, 424px); 
}

#back-forward-dropmarker:hover {
  -moz-image-region: rect(36px, 438px, 67px, 424px); 
}

#back-forward-dropmarker:hover:active {
  -moz-image-region: rect(104px, 438px, 135px, 424px); 
}

#back-forward-dropmarker[disabled="true"], 
#back-forward-dropmarker[disabled="true"]:hover:active {
  opacity: 1;
  -moz-image-region: rect(70px, 438px, 101px, 424px); 
}

/* Regular buttons... */

/* back button */

#back-button {
  -moz-image-region: rect(0px 24px 24px 0px); 
}
#back-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}
#back-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px);
}

/* forward button */

#forward-button {
  -moz-image-region: rect(0px 48px 24px 24px);
}
#forward-button:hover {
  -moz-image-region: rect(24px 48px 48px 24px);
}
#forward-button[disabled="true"] {
  -moz-image-region: rect(48px 48px 72px 24px);
}

/* stop button */

#stop-button {
  -moz-image-region: rect(0px 72px 24px 48px);
}
#stop-button:hover {
  -moz-image-region: rect(24px 72px 48px 48px);
}
#stop-button[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px);
}

/* reload button */

#reload-button {
  -moz-image-region: rect(0px 96px 24px 72px);
}
#reload-button:hover {
  -moz-image-region: rect(24px 96px 48px 72px);
}
#reload-button[disabled="true"] {
  -moz-image-region: rect(48px 96px 72px 72px);
}

/* home button */

#home-button {
  -moz-image-region: rect(0px 120px 24px 96px);
}
#home-button:hover {
  -moz-image-region: rect(24px 120px 48px 96px);
}
#home-button[disabled="true"] {
  -moz-image-region: rect(48px 120px 72px 96px);
}

/* download manager button */

#downloads-button {
  -moz-image-region: rect(0px 144px 24px 120px);
}
#downloads-button:hover {
  -moz-image-region: rect(24px 144px 48px 120px);
}

/* history sidebar button */

#history-button {
  -moz-image-region: rect(0px 168px 24px 144px);
}
#history-button:hover,
#history-button[checked="true"] {
  -moz-image-region: rect(24px 168px 48px 144px);
}

/* bookmark sidebar button */

/* Bookmarks (and bookmarks menu) button */
#bookmarks-button,
#bookmarks-menu-button {
  -moz-image-region: rect(0px 192px 24px 168px);
}
/* Bookmarks (and bookmarks menu) button, hover+active */
#bookmarks-button:hover,
#bookmarks-button[checked="true"],
#bookmarks-menu-button:hover,
#bookmarks-menu-button[checked="true"],
#bookmarks-menu-button[open="true"] {
  -moz-image-region: rect(24px 192px 48px 168px);
}
#bookmarks-menu-button.bookmark-item {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}
#bookmarks-menu-button.toolbarbutton-1 {
  -moz-box-orient: horizontal;
}

/* print button */

#print-button {
  -moz-image-region: rect(0px 216px 24px 192px);
}
#print-button:hover {
  -moz-image-region: rect(24px 216px 48px 192px);
}
#print-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px);
}

/* toolbar new tab button */

#new-tab-button {
  -moz-image-region: rect(0px 240px 24px 216px);
}
#new-tab-button:hover {
  -moz-image-region: rect(24px 240px 48px 216px);
}

/* new window button */

#new-window-button {
  -moz-image-region: rect(0px 264px 24px 240px);
}
#new-window-button:hover {
  -moz-image-region: rect(24px 264px 48px 240px);
}

/* cut button */

#cut-button {
  -moz-image-region: rect(0px 288px 24px 264px);
}
#cut-button:hover {
  -moz-image-region: rect(24px 288px 48px 264px);
}
#cut-button[disabled="true"] {
  -moz-image-region: rect(48px 288px 72px 264px);
}

/* copy button */

#copy-button {
  -moz-image-region: rect(0px 312px 24px 288px);
}
#copy-button:hover {
  -moz-image-region: rect(24px 312px 48px 288px);
}
#copy-button[disabled="true"] {
  -moz-image-region: rect(48px 312px 72px 288px);
}

/* paste button */

#paste-button {
  -moz-image-region: rect(0px 336px 24px 312px);
}
#paste-button:hover {
  -moz-image-region: rect(24px 336px 48px 312px);
}
#paste-button[disabled="true"] {
  -moz-image-region: rect(48px 336px 72px 312px);
}

/* fullscreen button */

#fullscreen-button {
  -moz-image-region: rect(0px 360px 24px 336px);
}
#fullscreen-button:hover,
#fullscreen-button[checked="true"] {
  -moz-image-region: rect(24px 360px 48px 336px);
}

/* tabview button */

#tabview-button,
#menu_tabview {
  list-style-image: url(chrome://browser/skin/tabview/tabview.png);
}

#tabview-button {
  -moz-image-region: rect(0, 90px, 18px, 72px);
}

#tabview-button > image {
  /* Add a 3px margin for large icon mode's image to get the button to be the same size as the others, at 24x24 */
  margin: 3px;
}
toolbar[iconsize="small"] #tabview-button > image {
  /* But no margin for small icon mode's image */
  margin: 0px;
}

#tabview-button[groups="0"] {
  -moz-image-region: rect(0, 18px, 18px, 0);
}

#tabview-button[groups="1"] {
  -moz-image-region: rect(0, 36px, 18px, 18px);
}

#tabview-button[groups="2"] {
  -moz-image-region: rect(0, 54px, 18px, 36px);
}

#tabview-button[groups="3"] {
  -moz-image-region: rect(0, 72px, 18px, 54px);
}

#menu_tabview {
  -moz-image-region: rect(1px, 89px, 17px, 73px);
}

#menu_tabview[groups="0"] {
  -moz-image-region: rect(1px, 17px, 17px, 1px);
}

#menu_tabview[groups="1"] {
  -moz-image-region: rect(1px, 35px, 17px, 19px);
}

#menu_tabview[groups="2"] {
  -moz-image-region: rect(1px, 53px, 17px, 37px);
}

#menu_tabview[groups="3"] {
  -moz-image-region: rect(1px, 71px, 17px, 55px);
}

/* sync button */

#sync-button {
  -moz-image-region: rect(72px, 24px, 96px, 0px);
}
#sync-button:hover,
#sync-button[checked="true"] {
  -moz-image-region: rect(96px, 24px, 120px, 0px);
}

/* feed button */

#feed-button {
  -moz-image-region: rect(72px, 48px, 96px, 24px);
}
#feed-button:hover,
#feed-button[checked="true"] {
  -moz-image-region: rect(96px, 48px, 120px, 24px);
}
#feed-button[disabled="true"] {
  -moz-image-region: rect(120px, 48px, 144px, 24px);
}

/* zoom controls */

#zoom-out-button {
  -moz-image-region: rect(72px, 96px, 96px, 72px);
  margin-right: 0px !important;  /* Render the zoom buttons side-by-side by cutting out the margin */
  
  /* These margins need to be zero so that with Aero's rendering, the buttons' borders overlap the container's borders */
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
#zoom-out-button:hover,
#zoom-out-button[checked="true"] {
  -moz-image-region: rect(96px, 96px, 120px, 72px);
}
#zoom-out-button[disabled="true"] {
  -moz-image-region: rect(120px, 96px, 144px, 72px);
}

#zoom-in-button {
  -moz-image-region: rect(72px, 72px, 96px, 48px);
  margin-left: 0px !important;  /* Render the zoom buttons side-by-side by cutting out the margin */
  
  /* These margins need to be zero so that with Aero's rendering, the buttons' borders overlap the container's borders */
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
#zoom-in-button:hover,
#zoom-in-button[checked="true"] {
  -moz-image-region: rect(96px, 72px, 120px, 48px);
}
#zoom-in-button[disabled="true"] {
  -moz-image-region: rect(120px, 72px, 144px, 48px);
}

#zoom-controls:hover #zoom-out-button:not([disabled="true"]) {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}
#zoom-controls:hover #zoom-out-button:active:not([disabled="true"]),
#zoom-controls:hover #zoom-out-button[open="true"],
#zoom-controls #zoom-out-button[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
}

#zoom-controls:hover #zoom-in-button:not([disabled="true"]) {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}
#zoom-controls:hover #zoom-in-button:active:not([disabled="true"]),
#zoom-controls:hover #zoom-in-button[open="true"],
#zoom-controls #zoom-in-button[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
}

/* download status button */
#status4evar-download-button #status4evar-download-icon,
#status4evar-download-button:-moz-lwtheme-brighttext #status4evar-download-icon {
  background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"),
                              0, 144, 24, 120) center no-repeat !important;
  width:24px;
  height:22px;
}

/* ::::: 16px primary toolbar buttons ::::: */

toolbar[iconsize="small"] .toolbarbutton-1 {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}

/* Unified small back/forward buttons, for icons mode... */

toolbar[iconsize="small"][mode="icons"] #back-button {
  -moz-appearance: none;
  padding: 0;
  -moz-padding-start: 4px;
  border: none;
}

toolbar[iconsize="small"][mode="icons"] #back-button {
  -moz-image-region: rect(0px 264px 24px 240px);
}
toolbar[iconsize="small"][mode="icons"] #back-button:hover {
  -moz-image-region: rect(24px 264px 48px 240px);
}
toolbar[iconsize="small"][mode="icons"] #back-button[disabled="true"] {
  -moz-image-region: rect(48px 264px 72px 240px);
}
toolbar[iconsize="small"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 264px 96px 240px);
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
  -moz-padding-end: 4px;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  -moz-image-region: rect(0px 289px 24px 264px);
}
toolbar[iconsize="small"][mode="icons"] #forward-button:hover {
  -moz-image-region: rect(24px 289px 48px 264px);
}
toolbar[iconsize="small"][mode="icons"] #forward-button[disabled="true"] {
  -moz-image-region: rect(48px 288px 72px 264px);
}
toolbar[iconsize="small"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 289px 96px 264px);
}

/* Back/forward dropmarker */

toolbar[iconsize="small"] #back-forward-dropmarker {
  -moz-appearance: none;
  border: none;
  height: 27px;
  margin-left: -4px;
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px, 301px, 24px, 289px); 
}

toolbar[iconsize="small"] #back-forward-dropmarker:hover {
  -moz-image-region: rect(24px, 301px, 48px, 289px); 
}

toolbar[iconsize="small"] #back-forward-dropmarker:hover:active {
  -moz-image-region: rect(72px, 301px, 96px, 289px); 
}

toolbar[iconsize="small"] #back-forward-dropmarker[disabled="true"], 
toolbar[iconsize="small"] #back-forward-dropmarker[disabled="true"]:hover:active {
  opacity: 1;
  -moz-image-region: rect(48px, 301px, 72px, 289px); 
}

/* Regular buttons... */

/* back button */

toolbar[iconsize="small"] #back-button {
  -moz-image-region: rect(0px 16px 16px 0px);
}
toolbar[iconsize="small"] #back-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
toolbar[iconsize="small"] #back-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
}

/* forward button */

toolbar[iconsize="small"] #forward-button {
  -moz-image-region: rect(0px 32px 16px 16px);
}
toolbar[iconsize="small"] #forward-button:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}
toolbar[iconsize="small"] #forward-button[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}

/* stop button */

toolbar[iconsize="small"] #stop-button {
  -moz-image-region: rect(0px 48px 16px 32px);
}
toolbar[iconsize="small"] #stop-button:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
toolbar[iconsize="small"] #stop-button[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px);
}

/* reload button */

toolbar[iconsize="small"] #reload-button {
  -moz-image-region: rect(0px 64px 16px 48px);
}
toolbar[iconsize="small"] #reload-button:hover {
  -moz-image-region: rect(16px 64px 32px 48px);
}
toolbar[iconsize="small"] #reload-button[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px);
}

/* home button */

#home-button.bookmark-item {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}
toolbar[iconsize="small"] #home-button,
#home-button.bookmark-item {
  -moz-image-region: rect(0px 80px 16px 64px);
}
toolbar[iconsize="small"] #home-button:hover,
#home-button.bookmark-item:hover {
  -moz-image-region: rect(16px 80px 32px 64px);
}
toolbar[iconsize="small"] #home-button[disabled="true"],
#home-button.bookmark-item[disabled="true"] {
  -moz-image-region: rect(32px 80px 48px 64px);
}

/* download manager button */

toolbar[iconsize="small"] #downloads-button {
  -moz-image-region: rect(0px 96px 16px 80px);
}
toolbar[iconsize="small"] #downloads-button:hover {
  -moz-image-region: rect(16px 96px 32px 80px);
}

/* history sidebar button */

toolbar[iconsize="small"] #history-button {
  -moz-image-region: rect(0px 112px 16px 96px);
}
toolbar[iconsize="small"] #history-button:hover,
toolbar[iconsize="small"] #history-button[checked="true"] {
  -moz-image-region: rect(16px 112px 32px 96px);
}

/* bookmark sidebar button */

/* Bookmarks (and bookmarks menu) button */
toolbar[iconsize="small"] #bookmarks-button,
toolbar[iconsize="small"] #bookmarks-menu-button {
  -moz-image-region: rect(0px 128px 16px 112px);
}
/* Bookmarks (and bookmarks menu) button, hover+active */
toolbar[iconsize="small"] #bookmarks-button:hover,
toolbar[iconsize="small"] #bookmarks-button[checked="true"],
toolbar[iconsize="small"] #bookmarks-menu-button:hover,
toolbar[iconsize="small"] #bookmarks-menu-button[checked="true"],
toolbar[iconsize="small"] #bookmarks-menu-button[open="true"] {
  -moz-image-region: rect(16px 128px 32px 112px);
}
toolbar[iconsize="small"] #bookmarks-menu-button.bookmark-item {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}
toolbar[iconsize="small"] #bookmarks-menu-button.toolbarbutton-1 {
  -moz-box-orient: horizontal;
}

/* print button */

toolbar[iconsize="small"] #print-button {
  -moz-image-region: rect(0px 144px 16px 128px);
}
toolbar[iconsize="small"] #print-button:hover {
  -moz-image-region: rect(16px 144px 32px 128px);
}
toolbar[iconsize="small"] #print-button[disabled="true"] {
  -moz-image-region: rect(32px 144px 48px 128px);
}

/* toolbar new tab button */

toolbar[iconsize="small"] #new-tab-button {
  -moz-image-region: rect(0px 160px 16px 144px);
}
toolbar[iconsize="small"] #new-tab-button:hover {
  -moz-image-region: rect(16px 160px 32px 144px);
}

/* new window button */

toolbar[iconsize="small"] #new-window-button {
  -moz-image-region: rect(0px 176px 16px 160px);
}
toolbar[iconsize="small"] #new-window-button:hover {
  -moz-image-region: rect(16px 176px 32px 160px);
}

/* cut button */

toolbar[iconsize="small"] #cut-button {
  -moz-image-region: rect(0px 192px 16px 176px);
}
toolbar[iconsize="small"] #cut-button:hover {
  -moz-image-region: rect(16px 192px 32px 176px);
}
toolbar[iconsize="small"] #cut-button[disabled="true"] {
  -moz-image-region: rect(32px 192px 48px 176px);
}

/* copy button */

toolbar[iconsize="small"] #copy-button {
  -moz-image-region: rect(0px 208px 16px 192px);
}
toolbar[iconsize="small"] #copy-button:hover {
  -moz-image-region: rect(16px 208px 32px 192px);
}
toolbar[iconsize="small"] #copy-button[disabled="true"] {
  -moz-image-region: rect(32px 208px 48px 192px);
}

/* paste button */

toolbar[iconsize="small"] #paste-button {
  -moz-image-region: rect(0px 224px 16px 208px);
}
toolbar[iconsize="small"] #paste-button:hover {
  -moz-image-region: rect(16px 224px 32px 208px);
}
toolbar[iconsize="small"] #paste-button[disabled="true"] {
  -moz-image-region: rect(32px 224px 48px 208px);
}

/* fullscreen button */

toolbar[iconsize="small"] #fullscreen-button {
  -moz-image-region: rect(0px 240px 16px 224px);
}
toolbar[iconsize="small"] #fullscreen-button:hover,
toolbar[iconsize="small"] #fullscreen-button[checked="true"] {
  -moz-image-region: rect(16px 240px 32px 224px);
}

/* tabview button (already taken care of in 24px icon rules) */

/* sync button */

toolbar[iconsize="small"] #sync-button {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}
toolbar[iconsize="small"] #sync-button:hover,
toolbar[iconsize="small"] #sync-button[checked="true"] {
  -moz-image-region: rect(64px, 16px, 80px, 0px);
}

/* feed button */

toolbar[iconsize="small"] #feed-button {
  -moz-image-region: rect(48px, 32px, 64px, 16px);
}
toolbar[iconsize="small"] #feed-button:hover,
toolbar[iconsize="small"] #feed-button[checked="true"] {
  -moz-image-region: rect(64px, 32px, 80px, 16px);
}
toolbar[iconsize="small"] #feed-button[disabled="true"] {
  -moz-image-region: rect(80px, 32px, 96px, 16px);
}

/* zoom controls */

toolbar[iconsize="small"] #zoom-out-button {
  -moz-image-region: rect(48px, 64px, 64px, 48px);
}
toolbar[iconsize="small"] #zoom-out-button:hover,
toolbar[iconsize="small"] #zoom-out-button[checked="true"] {
  -moz-image-region: rect(64px, 64px, 80px, 48px);
}
toolbar[iconsize="small"] #zoom-out-button[disabled="true"] {
  -moz-image-region: rect(80px, 64px, 96px, 48px);
}

toolbar[iconsize="small"] #zoom-in-button {
  -moz-image-region: rect(48px, 48px, 64px, 32px);
}
toolbar[iconsize="small"] #zoom-in-button:hover,
toolbar[iconsize="small"] #zoom-in-button[checked="true"] {
  -moz-image-region: rect(64px, 48px, 80px, 32px);
}
toolbar[iconsize="small"] #zoom-in-button[disabled="true"] {
  -moz-image-region: rect(80px, 48px, 96px, 32px);
}
/* download status button */
toolbar[iconsize="small"] #status4evar-download-button #status4evar-download-icon,
toolbar[iconsize="small"] #status4evar-download-button:-moz-lwtheme-brighttext #status4evar-download-icon {
  background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"),
                              0, 96, 15, 80) center no-repeat !important;
  width:16px;
  height:15px;
}

toolbar[mode="icons"] #status4evar-download-button[forcelabel="true"], 
toolbar[mode="text"] #status4evar-download-button {
  padding: 0 3px !important;
}

/* ::::: tabstrip and addon toolbars ::::: */

.tabbrowser-tab,
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabs-newtab-button,
.tabs-alltabs-button {
  -moz-appearance: none;
  margin: 3px 0px 4px;
  border: 2px solid;
  border-right-width: 1px;
  border-bottom: none;
  -moz-border-top-colors: ThreeDShadow rgba(255,255,255,.3);
  -moz-border-left-colors: ThreeDShadow rgba(255,255,255,.3);
}

.tab-icon-image {
  margin-top: 1px;
  -moz-margin-start: 7px;
  -moz-margin-end: 3px;
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://global/skin/icons/blank_16.png");
}

:-moz-any(#TabsToolbar, #addon-bar) .toolbarbutton-1,
:-moz-any(#TabsToolbar, #addon-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button,
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  -moz-appearance: none;
  border-style: none;
  padding: 0 3px;
}

#TabsToolbar .toolbarbutton-1:not([disabled]):hover,
#TabsToolbar .toolbarbutton-1[open],
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]):hover {
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.5)),
                    -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%),
                    -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%);
  background-position: 1px -1px, 0 -1px, 100% -1px;
  background-size: -moz-calc(100% - 2px) 100%, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}

#addon-bar .toolbarbutton-1:not([disabled]):hover,
#addon-bar .toolbarbutton-1[open],
#addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
  background-image: -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15)),
                    -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%),
                    -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%);
  background-position: left, left, right;
  background-size: auto, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}

/* download status button */
toolbar[iconsize="small"] #status4evar-download-button {
  list-style-image: url("chrome://browser/skin/download.png") !important;
  }

/* ::::: fullscreen window controls ::::: */

#minimize-button,
#restore-button,
#close-button {
  list-style-image: url("chrome://global/skin/icons/windowControls.png");
  padding: 0;
}

#minimize-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#minimize-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}
#minimize-button:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
#restore-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#restore-button:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
#restore-button:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
#close-button {
  -moz-image-region: rect(0, 48px, 16px, 32px);
  -moz-appearance: none;
  border-style: none;
  margin: 2px;
}
#close-button:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
#close-button:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
